@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('Gotham-Bold.woff') format('woff');
}
::selection  {
    background: #ffc2bb;
}
::-moz-selection {
    background: #ffc2bb;
}
body {
  color: #333;
  font-size: 17px;
  text-align:center;
  margin: 20px auto;
  padding-top: 120px;
  font-family: monospace,Arial;
}
a {
  transition-property: color;
  transition-duration: 0.55s;
  color: #333;
  text-decoration: underline dashed;
}
a:hover {
  transition-property: color;
  transition-duration: 0.55s;
  color: #f24632;
  text-decoration: underline dashed;
}
button, .buttonStyle {
  border: 1px solid #f24632;
  background-color: #f24632;
  color: #fff;
  cursor: pointer;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  padding: 1px 6px;
  font: 400 13.3333px Arial;
  text-decoration: none;
}
button:focus, a.buttonStyle:active  {
  outline: none;
  border: 1px solid #f24632;
  -webkit-box-shadow: 0px 0px 5px #f24632;
  box-shadow: 0px 0px 5px #f24632;
}
textarea {
  -webkit-opacity: 1;
  -webkit-appearance: none;
  border-radius: 0;
}
.buttonStyle:hover {
  text-decoration: none;
  color: #fff;
}
.leftAlign {
  text-align: left;
}
.pullRight {
  display: inline-block;
  float: right;
}
.leftMargin {
  margin-left: 50px;
}
